@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    text-decoration: underline;
}

/* Print-only PDF tweaks: */
@page {
    size: tabloid;
    margin: 0;
}

@media print {
    html,
    body {
        height: 100vh;
        /* Use full viewport height */
        margin: 0 !important;
        padding: 0 !important;
    }

    body {
        transform: scale(1);
        transform-origin: top left;
    }
    .print-no-shadow {
        box-shadow: none !important;
    }

    .left-sidebar {
        border-radius: 0 !important;
    }
}

/* Force background colors and images to print */
* {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

/* Avoid page breaks inside important elements */
.print-avoid-break {
    page-break-inside: avoid;
}